.logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    padding-block-start: var(--space-600);
    padding-inline: var(--space-1000);
}

@media (min-width: 67rem) {
    .logo {
        padding-block-start: var(--space-1000);
    }
}