* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cyan-300: #8fe3f9;
    --cyan-600: #4d96a9;
    --cyan-600-overlay: rgba(77, 150, 160, 0.85);
    --purple-300: #d9b8ff;
    --purple-600: #855fb1;
    --slate-300: #d1d1df;
    --slate-600: #87879d;
    --slate-900: #28283d;
    --white: #fafafa;

    --ff-family: 'Red Hat Display', sans-serif;
    --fs-ex-large: 6.4rem;
    --fs-large: 4.8rem;
    --fs-med-large: 4rem;
    --fs-medium: 3.6rem;
    --fs-mid: 3.2rem;
    --fs-med-sm: 1.8rem;
    --fs-sm: 1.6rem;
    --fs-ex-sm: 1.4rem;
    --fs-tiny: 1.2rem;

    --fw-black: 900;
    --fw-medium: 500;

    --lh-loose: 1.5;
    --lh-tight: 1.1;

    --space-1400: 11.2rem;
    --space-1000: 8rem;
    --space-900: 7.2rem;
    --space-800: 6.4rem;
    --space-700: 5.6rem;
    --space-600: 4.8rem;
    --space-500: 4rem;
    --space-400: 3.2rem;
    --space-300: 2.4rem;
    --space-200: 1.6rem;
    --space-100: 0.8rem;
    --space-50: 0.4rem;

}

html {
    font-size: calc(100% * 0.625);
}

body {
    background-color: var(--white);
}

.red-hat-display-black {
    font-family: var(--ff-family);
    font-weight: var(--fw-black);
    line-height: var(--lh-tight);
    text-align: center;
}

.text-preset-1 {
    font-size: var(--fs-med-large);
}

.text-preset-2 {
    font-size: var(--fs-mid);
}

.text-preset-3 {
    font-size: var(--fs-tiny);
    letter-spacing: 4px;
}

.text-preset-4 {
    font-size: var(--fs-sm);
    font-weight: var(--fw-medium);
    line-height: var(--lh-loose);
}

.text-preset-5 {
    font-size: var(--fs-sm);
    line-height: var(--lh-loose);
    font-weight: var(--fw-black);
}


@media (min-width: 768px) {
    .text-preset-1 {
        font-size: var(--fs-large);
    }
    .text-preset-2 {
        font-size: var(--fs-medium);
    }
    .text-preset-3 {
        font-size: var(--fs-ex-sm);
        letter-spacing: 4px;
    }
}

@media (min-width: 1080px) {
    .text-preset-1 {
        font-size: var(--fs-ex-large);
    }
    .text-preset-2 {
        font-size: var(--fs-med-large);
    }
    .text-preset-3 {
        font-size: var(--fs-sm);
    }
    .text-preset-4 {
        font-size: var(--fs-med-sm);
        line-height: var(--lh-loose);
    }
    
}