.hero {
    padding: var(--space-400);
    padding-block-start: var(--space-800);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero__background {
    margin-block-end: var(--space-600);
    width: 140%;
    object-fit: contain;
}

.hero__body {
    margin-block: var(--space-300);
    color: var(--slate-600);
}

