.hero {
    padding: var(--space-400);
    padding-block-start: var(--space-800);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__background {
    margin-block-end: var(--space-600);
    width: 140%;
    object-fit: contain;
}

.hero__body {
    margin-block: var(--space-300);
    color: var(--slate-600);
}

.hero__background--left, .hero__background--right {
    display: none;
}

@media (min-width: 768px) {
    .hero {
        padding-block-end: var(--space-800);
    }

    .hero__background {
        margin-block-end: var(--space-900);
    }

    .hero__content {
        max-width: 50.4rem;
    }
}

@media (min-width: 1080px) {
    .hero {
        flex-direction: row;
        gap: var(--space-600);
    }
    .hero__background {
        display: none;
    }
    .hero__background--left, .hero__background--right {
        display: block;
        width: 50%;
    }
}