.workspace {
    padding: var(--space-400);
    padding-block-end: var(--space-800);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workspace__subtitle {
    margin-block-end: var(--space-200);
    color: var(--cyan-600);
}

.workspace__title {
    margin-block-end: var(--space-400);
}

.workspace__body {
    color: var(--slate-600);
}

@media (min-width: 48rem) {
    .workspace {
        padding-block-start: var(--space-700);
    }
    .workspace__title, .workspace__subtitle, .workspace__body {
        max-width: 50.4rem;
    }
}

@media (min-width: 67rem) {
    .workspace {
        padding-inline: var(--space-1000);
        padding-block-end: var(--space-900);
    }
}